.registro {
    background: linear-gradient(#21C08B, #5630fb);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
  }
  
  .registro__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .registro__container--form {
    display: flex;
    flex-direction: column;
  }
  
  .registro__container--form label {
    font-size: 14px;
  }
  
  .registro__container--register {
    font-size: 14px;
    text-align: center;
  }
  
  .registro__container--register a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  
  .registro__container--register a:hover {
    text-decoration: underline;
  }
  